
@font-face {font-family:'Montserrat', sans-serif;
}
@font-face {font-family:'Raleway', sans-serif;
}
@font-face {font-family:'Roboto', sans-serif;;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?vp3512');
    src:  url('../fonts/icomoon/icomoon.eot?vp3512#iefix') format('embedded-opentype'),
      url('../fonts/icomoon/icomoon.ttf?vp3512') format('truetype'),
      url('../fonts/icomoon/icomoon.woff?vp3512') format('woff'),
      url('../fonts/icomoon/icomoon.svg?vp3512#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-hours:before {
    content: "\e900";
  }
  .icon-delivery-truck:before {
    content: "\e901";
  }
  .icon-excavator:before {
    content: "\e902";
  }
  .icon-hand:before {
    content: "\e903";
  }
  .icon-motorbike:before {
    content: "\e904";
  }
  .icon-sedan-car-model:before {
    content: "\e905";
  }